.main{
    margin-left: 40%;
    margin-right: 35%;
    padding: auto;
    padding-left: 7%;
    margin-top: 15%;
    border: 1px solid rgb(41, 38, 38);
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: aliceblue;
    background-size: cover;
    color: red;
    text-decoration: wavy;
    font-weight:bolder;
    
}

button{
    margin-left: 40px;
    background-color: bisque;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
    
}

button:hover{
    cursor: pointer;
    
    box-shadow: 2px 2px inset;
}

body{
    background-image: url(https://en.pimg.jp/016/055/573/1/16055573.jpg);
    
}


input[type="text"]{
    border: none;
    box-shadow: 1px 1px 1px 1px inset ;
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;




}
input[type="image"]{
    width: 40%;
    border-radius: 10px;
    height: 30px;
    margin-left: 13%;
}
span{
    color: brown;
    text-decoration: none;
}




@media only screen and (max-width: 768px) {
    .main {
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 5%;
        margin-top: 10%;
    }

    input[type="text"] {
        width: 70%;
        font-size: 70%; 
    }

    input[type="image"] {
        width: 80%;
        margin-left: 10%;
    }
}
